extends layout

block content
  div.container
    div.jumbotron.text-center
      h1
        span.fa.fa-lock
        | Node AUTH
      a(href="/login" class="btn btn-default")
        span.fa.fa-user
        | Login
      a(href="/signup" class="btn btn-default")
        span.fa.fa-user
        | Signup

